src
node_modules
.gitignore
.gitattributes
markdown-style.css
preprops.config
package-lock.json
*.map
*.scss
tests
jest.config.js
scripts

public/_assets/css/**.scss
public/_assets/js/**.js

!public/_assets/js/**.min.js
!public/_assets/css/**.min.css
