:root {

  --bs-primary-hs: 216, 98%;
  --l: 52%;
  --bs-primary-darker: hsl(var(--bs-primary-hs), calc(var(--l) - 10%));
  --bs-light: var(--bs-gray-200);
  --bs-light-rgb: 233, 236, 239;
  --bs-border-radius: 0.280rem;
}

.btn {
  --bs-btn-border-radius: 0.280rem;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-shadow: none;
}

.flex-1 {
  flex: 1 !important;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background: rgb(0 0 0 / 20%);
}

.spinner-border {
  position: absolute;
  left: 49%;
  top: 40%;
}

#page-loader {

  .backdrop {
    position: fixed;
  }

  .spinner-border {
    --bs-spinner-width: 3rem;
    --bs-spinner-height: 3rem;
    --bs-spinner-border-width: 0.35em;
  }
}

.form-control {
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
}

#resources-container {
  height: 100vh;
  flex: 1;
  min-width: 30rem;

  .toast {
    box-shadow: 0 0 10px black;
    bottom: 0.5rem;
    z-index: 10;
    right: 0.5rem;
  }

  main {
    height: #{"calc(100vh - 2.8rem)"};
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--bs-gray-300);

    .main-content-wrapper {
      max-width: 1100px;
      margin: auto;
      min-height: calc(100vh - 3rem);
      background: var(--bs-white);
      position: relative;
      padding-bottom: 15rem;

      nav {
        transition: 0.3s all ease-in-out;
        z-index: 3;

        .search {
          max-width: 500px;
          width: 100%;
          border: none;
          padding: 0.2rem 0.8rem;

          &:focus {
            border: none;
            outline: none;
            box-shadow: none;
          }
        }
      }

      #routes-container {
        #resources-list {
          margin: 1rem 1.5rem;
          list-style: none;
          display: flex;
          flex-wrap: wrap;

          #add-resource {
            background: rgba(var(--bs-primary-rgb), 3%);
            transition: all 0.2s linear;

            &:hover {
              background: rgba(var(--bs-primary-rgb), 7%);
            }
          }
        }
      }

      #rewriters-container {
        #rewriters-list {
          .nav-item {
            .nav-link {
              text-decoration: none !important;
            }
          }
        }
      }

      #routes-container,
      #rewriters-container {
        .nav-item {
          position: relative;
          border-radius: 0.2rem;

          &.expanded {
            box-shadow: 0 -2px 1px rgb(0 0 0 / 0%), 0 2px 2px rgb(0 0 0 / 14%),
              0 1px 5px rgb(0 0 0 / 14%);
            margin-bottom: 10px;

            .header {
              background-color: rgba(var(--bs-primary-rgb), 0.1);
            }

            .info-icon {
              opacity: 1 !important;
              padding: 0.5rem 0.6rem !important;
            }
          }

          .header {
            transition: all 0.15s linear;
            color: var(--bs-primary);

            .info-icon {
              padding: 0;
              padding-left: 0.5rem;
              opacity: 0;
              transition: all 0.15s linear;

              .icon {
                background: var(--bs-primary);
                display: inline-block;
                width: 1rem;
                color: var(--bs-white);
                text-align: center;
                border-radius: 50%;
                font-size: 0.7rem;
                font-weight: bolder;
              }

              &:hover {
                opacity: 0.9;
                padding: 0.5rem 0.6rem;
              }
            }

            .nav-link {
              transition: none;
              display: block;
              text-decoration: none !important;
              flex: 1;
            }

            &:hover {
              .info-icon {
                opacity: 0.5;
                padding: 0.5rem 0.6rem !important;
              }
            }

            &.active {
              background-color: rgba(var(--bs-primary-rgb), 0.2);
            }

            &.default {
              filter: grayscale(0.7);
            }
          }

          .info-box {
            .actions {
              z-index: 2;
              right: 1rem;
              border-radius: 0.2rem;
              position: absolute;
              top: -2.5rem;
              right: 0;
              opacity: 0;
              transition: all 0.2s linear;
              background: #d1e2fc;

              button {
                font-size: 0.8rem;
              }
            }

            .img {
              width: 8rem;

              img {
                width: 100%;
              }
            }
          }

          &:hover {
            .actions {
              opacity: 1;
            }
          }
        }
      }

      footer {
        position: absolute;
        bottom: 0;
        padding: 1rem 1.5rem;

        p {
          margin-bottom: 1rem;
        }
      }
    }
  }

}

#separator {
  cursor: col-resize;
  background-color: #000000;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='white'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 0.3rem;
  width: 0.3rem;
  opacity: 0.4;
  z-index: 20;

  /* Prevent the browser's built-in drag from interfering */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    opacity: 0.5;
  }
}

#data-container {
  height: 100vh;
  background: #000000;
  min-width: 40rem;

  main {
    height: #{"calc(100vh - 2.8rem)"};
    overflow-x: hidden;
    overflow-y: auto;
  }

  #iframe-header {
    #iframe-url {
      &::selection {
        background-color: var(--bs-black);
      }

      &::placeholder {
        color: #ffffff;
        opacity: 0.7;
      }
    }

    #download,
    #close {
      opacity: 0.7;
      margin: 0 1rem;
      margin-right: calc(1rem - 0.27rem);

      &:hover {
        opacity: 0.9;
      }
    }

    #close:hover .btn:active,
    .btn:hover,
    .btn:focus {
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }

  #iframe-data {
    background: #000000;
  }

  .spinner-border {
    width: 3.5rem;
    height: 3.5rem;
    border-width: 0.4rem;
  }
}

#iframe-loader {
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  place-items: center;
  font-size: 1.3rem;
  background-color: rgb(0 0 0 / 20%);

  .loader-wrapper {
    color: #636363;
    text-align: center;
    display: grid;
    place-items: center;
  }
}

.row {
  margin: 0.5rem 0;

  .key {
    min-width: max-content;
    max-width: 8rem;
  }

  .val {
    word-break: break-word;
  }

  textarea,
  pre {
    word-break: break-all;
    white-space: pre-wrap;
    background: var(--bs-dark) !important;
    color: var(--bs-light) !important;
    box-sizing: border-box;
    border: none;
    padding: 1rem;
    overflow: auto;
  }
}

span.action-icon {
  opacity: 0.7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

#routeModal {
  .update-form {
    .no-edit {
      display: none;
    }
  }

  .add-form {
    .no-add {
      display: none;
    }
  }

  .feedback {
    font-size: 0.9rem;
    margin-top: 0.25rem;
  }

  select[multiple] {
    height: 13.5rem;
    overflow: hidden;

    option {
      transition: all 0.2s linear;

      &:hover {
        background-color: var(--bs-light);
      }
    }
  }
}

fieldset {
  border: 1px solid #d2d2d2;

  legend {
    font-size: 1.2rem;
    float: unset;
    width: auto;
    padding: 0 0.5rem;
    font-weight: bold;
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--bs-body-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--bs-white) inset !important;
  box-shadow: 0 0 0px 1000px var(--bs-white) inset !important;
}

input:focus:-webkit-autofill {
  -webkit-text-fill-color: var(--bs-body-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--bs-white) inset !important;
  box-shadow: 0 0 0px 1000px var(--bs-white) inset !important;
}


/* Dark Theme Overrides */
html[data-theme="dark"] {

  --bs-primary: #0069ba;
  --bs-primary-rgb: 0, 105, 186;

  --bs-white: #000000;
  --bs-white-rgb: 0, 0, 0;

  --bs-black: #ffffff;
  --bs-black-rgb: 255, 255, 255;

  --bs-light: #212529;
  --bs-light-rgb: 33, 37, 41;

  --bs-secondary: #495158;
  --bs-secondary-rgb: 73, 81, 88;

  --bs-body-color: #e9ecef;

  --bs-gray-300: #343a40;

  --bs-link-color: #2896ea;
  --bs-link-hover-color: #47afff;

  --bs-dark: var(--bs-body-color);
  --bs-dark-rgb: 233, 236, 239;

  textarea {
    --bs-dark: var(--bs-white);
    --bs-light: var(--bs-gray-500);
  }

  .btn-secondary {
    --bs-btn-bg: var(--bs-light);
    --bs-btn-border-color: var(--bs-light-rgb);
    --bs-btn-hover-bg: #3a4149;
    --bs-btn-hover-border-color: #3a4149;
  }

  .btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 0.7);
    --bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 0.7);
  }

  .toast {
    --bs-white: var(--bs-black);
    --bs-white-rgb: var(--bs-black-rgb);
  }

  .btn-white {
    --bs-btn-color: #e9ecef;
  }

  #iframe-header {
    --bs-primary-rgb: var(--bs-light-rgb);

    .btn-primary {
      @extend .btn-secondary
    }

    input {
      --bs-white-rgb: var(--bs-dark-rgb);
    }

    .btn:hover,
    .btn:focus,
    .btn:active {
      background: var(--bs-btn-hover-bg) !important;
    }
  }

  .modal-content {
    --bs-modal-bg: var(--bs-light);
    --bs-modal-border-color: var(--bs-light);
    --bs-modal-header-border-color: var(--bs-light);
    --bs-modal-footer-border-color: var(--bs-light);

    .btn-close {
      box-shadow: none !important;
    }

    .modal-header {
      // --bs-primary-rgb: var(--bs-light-rgb);
      --bs-white-rgb: var(--bs-body-color);
    }

    input:not(.form-check-input) {
      border-radius: 0.20rem;
      background-color: var(--bs-white);
      border-color: var(--bs-white);
      color: var(--bs-body-color);
    }

    input[disabled],
    input[readonly] {
      background-color: var(--bs-gray-800);
    }

    .modal-footer {
      .btn-secondary {
        --bs-btn-bg: #373d43
      }
    }
  }

  .form-check-input {
    background-color: #5e5e5e;
    border-radius: 1rem;

    &:focus {
      border-color: transparent !important;
    }

    &:checked {
      background-color: var(--bs-primary);
      border-color: var(--bs-primary);
    }
  }

  #resources-container {

    #mock-server-nav-header {
      --bs-dark-rgb: var(--bs-light-rgb);

      .form-switch {
        --bs-light-rgb: var(--bs-dark);
      }
    }

    .navbar {
      --bs-navbar-brand-color: #e9ecef;

      #search {
        color: #e9ecef
      }
    }

    .info-box {
      background-color: var(--bs-gray-900);

    }

    #routes-list {
      opacity: 1 !important;

      .nav-item {
        &.expanded {
          .header {
            background-color: var(--bs-gray-900);
          }
        }

        .header {
          &:hover {
            .info-icon {
              opacity: 1 !important;
            }
          }

          &.active {
            background-color: var(--bs-gray-900);
          }
        }
      }

    }

  }

  .info-box {
    .actions {
      background: #021523 !important;
    }
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: var(--bs-body-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--bs-white) inset !important;
    box-shadow: 0 0 0px 1000px var(--bs-white) inset !important;
  }

  input:focus:-webkit-autofill {
    -webkit-text-fill-color: var(--bs-body-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--bs-white) inset !important;
    box-shadow: 0 0 0px 1000px var(--bs-white) inset !important;
  }

  ::-webkit-scrollbar {
    width: 13px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 50px rgb(0 0 0);
    box-shadow: inset 0 0 50px rgb(0 0 0);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1c508c;
  }

  ::selection {
    color: var(--bs-black) !important;
    background-color: var(--bs-primary) !important;
  }
}
